{# View :: Base #}

{% block html_head_container %}
{% include 'header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body class="{{body_class}}">

    {% include "partials/navigation.twig" %}

    <section id="main" role="main">

      {% if title %}
        <header>
          <h1>{{title}}</h1>
        </header>
      {% endif %}

      <div class="{{sidebar_class}}">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </div>

      {% if sidebar %}
        <aside class="sidebar">
          {{sidebar}}
        </aside>
      {% endif %}

    </section>

    {% block footer %}
      <footer id="footer">
        {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}
    {% endblock %}

  </body>
</html>
