{# View :: Single #}

{% extends "base.twig" %}

{% block content %}

  {% include "partials/category.twig" %}
  {% include "partials/tags.twig" %}

  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/Article">

    {# Header #}
    <header>
      <h1 itemprop="headline">
        {{post.title}}
      </h1>
    </header>

    {# Author #}
    <div>
      <span>By</span>
      <a href="{{post.author.path}}" itemprop="author">{{ post.author.name }}</a>
      <span>&bull;</span>
      <span itemprop="datePublished" content="{{ post.post_date|date}}">
        {{ post.post_date|date}}
      </span>
    </div>

    {# Content #}
    <div itemprop="articleBody">
      {{post.content}}
    </div>

    {% include "partials/comments.twig" %}

  </article>

{% endblock %}
