{# View :: Partial :: Snippet - Base #}

<article class="snippet snippet-{{post.post_type}}" id="snippet-{{post.ID}}"  role="article" itemscope itemtype="http://schema.org/Article">
  {% block content %}

    {# Header #}
    <header>
      <h2 itemprop="headline">
        {{post.title}}
      </h2>
    </header>

    {# Thumbnail #}
    {% if post.get_thumbnail %}
      <img src="{{post.thumbnail.src}}" itemprop="image" />
      <meta itemprop="thumbnailUrl" content="{{post.thumbnail.src}}">
    {% endif %}

    {# Content #}
    <div itemprop="articleBody">
      <p>
        {{post.get_preview(25, false, "Read More")}}
      </p>
    </div>

  {% endblock %}
</article>